name: Release Package - JavaScript [MAIN]
on:
  push:
    branches:
      - main

env:
  GIT_AUTHOR_NAME: "@bumper-bot"
  GITHUB_TOKEN: ${{ secrets.GH_GLOBAL_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_GLOBAL_TOKEN || secrets.GH_GLOBAL_TOKEN }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - uses: subosito/flutter-action@v1
      with:
        flutter-version: '3.0.3'
    - name: "Start: Unit Testing"
      run: |
        cd ./package
        flutter pub get
        yarn install
        yarn test
        yarn test:flutter
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - uses: subosito/flutter-action@v1
      with:
        flutter-version: '3.0.3'
    - name: "Start: Unit Testing"
      run: |
        cd ./package
        flutter pub get
        yarn install
        yarn lint
        yarn lint:flutter
  release-js:
    needs: 
      - lint
      - test
    name: Release [JS NPM & GitHub Registry]
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 17
      - name: Install dependencies
        run: yarn install
      - name: Release NPM Registry
        env:
          GIT_AUTHOR_NAME: "@bumper-bot"
          GITHUB_TOKEN: ${{ secrets.GH_GLOBAL_TOKEN }}
        run: |
          cd ./package
          echo 'Run Flutter CI Steps'
          echo $GITHUB_TOKEN
          yarn build
          yarn release
      - name: Release GitHub Registry
        run: |
          cd ./package
          echo '//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}' > ~/.npmrc
          yarn release:github_registry
